{% extends 'template.html' %}

{% block title %}
    <title>takeNotes    |   Notes</title>
{% endblock %}

{% block script_or_link %}
<!-- jQuery -->
<script src="{{url_for('static', filename='jquery/jquery.min.js')}}"></script>
{% endblock %}

{% block body_content %}
<div class="container-fluid">
    <div class="row">
        <div class="container">
        <br>
        <div class="row" style="margin-top:2rem;">
              <div class="col-3" style="width: 100%">
                <a href="{{ url_for('create_note') }}" class="btn btn-secondary" style="width: 100%">Create new note</a>
              </div>
              <div class="col-9">
                <form class="form-inline" >
                  <div class="input-group" style="width: 100%">
                    <input class="form-control form-control-navbar" type="text" placeholder="Search note " aria-label="Search">
                    <div class="input-group-append">
                      <button class="btn btn-navbar btn-default" type="submit">
                        <i class="fas fa-search text-default"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
        </div>

            <div class="row" style="margin-top:2rem;">
                <div class="col-md-3">
                    <div class="btn-group-vertical" style="width: 100%">
                        <button type="button" class="btn btn-info disabled">Categories</button>
                        {% for foo in categories %}
                            <a href="/notes/{{ foo.public_id }}" type="button" class="btn btn-default">{{ foo.name }}</a>
                        {% endfor %}
                            <a href="{{ url_for('notes_without_category') }}" type="button" class="btn btn-default">Uncategorized</a>
                    </div>


                </div>
                <div class="col-md-9">
                    {% for foo in notes %}
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">{{ foo.title }}</div>
                            </div>
                            <div class="card-body">
                                {% if foo.category_name %}
                                <div class="ribbon-wrapper ribbon-lg">
                                    <div class="ribbon bg-primary">
                                        <p>{{ foo.category_name }}</p>
                                    </div>
                                </div>
                                {% endif %}

                                <div>
                                    {{ foo.content | safe }}
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="/note/{{ foo.public_id }}" class="btn btn-info btn-xs"><i class="fas fa-eye"></i></a>
                                <a href="#" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}